﻿@model Website.VMs.Render.Page
@using Website.VMs.Render;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Meta.Title</title>
    <meta name="keywords" content="@Model.Meta.Keywords" />
    <meta name="description" content="@Model.Meta.Description" />
    @Bundles.RenderScripts();
    @Bundles.RenderStylesheets();
</head>
<body>
    @{
        switch (Model.PageType)
        {
            case PageTypes.Public:
                break;
            case PageTypes.User:
                break;
            case PageTypes.Establishment:
                break;
            case PageTypes.Administration:
                break;
        }
    }

</body>
</html>
