﻿@{
    Layout = null;
    Bundles.Reference("Scripts");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
    @Bundles.RenderScripts()
    @Styles.Render("~/Bundles/Admin")

</head>
<body>
    <div> 
    </div>
</body>
</html>
